.sync .profile
  display block

.sync header
  height auto !important
  min-height initial !important
  max-height inital !important

.sync .profile
  border-radius 50% 50%
  width 30%
  height 0
  padding-bottom 30%
  overflow hidden
  margin 0 auto
  position relative
  top 40px
  min-width 150px
  min-height 150px

  div[style]
    position absolute
    top 0
    left 0
    z-index -1

  img
    border solid transparent 3px
    border-radius 50% 50%


.action
  width 80px
  background #000
  height 80px
  margin-bottom 30px
  position absolute
  top 50%
  margin-top -40px
  left 50%
  margin-left -40px
  border-radius 50% 50%

@-webkit-keyframes rotating
  from
    -webkit-transform rotate(0deg)
  to
    -webkit-transform rotate(360deg)

.action button
  color transparent
  overflow hidden
  display inline-block
  text-indent -999px
  height 80px
  width 80px
  background url(linkedin-sync.png) no-repeat center center
  background-size cover
  -webkit-animation: rotating 1.5s ease-in-out infinite;

  &.btn:focus
    outline none

  &.btn:active
    box-shadow none

.sync .jumbotron:before
  transition none
  display none

.sync .jumbotron
  background none
  opacity 1
