html, body {
  height: 100%;
}

body {
  background: #000;
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 0.3s ease-in-out 0;
}

body.day {
  background: #ddd;
}

body.night {
  color: white;
  background: #000;
}

.jumbotron {
  background: no-repeat;
  text-align: center;
  color: white;
  max-height: 800px;
  min-height: 65%;

  opacity: 0;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.ready .jumbotron {
  opacity: 1;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
}

.day .jumbotron {
  background-image: url(/30008-Brandin-2014-05-22-4-Redigera.jpg);
  background-size: cover;
}

.night .jumbotron {
  background-image: url(/30008%20Brandin%202014-05-22-88.jpg);
  background-size: cover;
  box-shadow: inset 0 -100px 100px #000;
}

.jumbotron:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
  background: black;
  z-index: -1;
  transition: opacity 0.3s ease-out 0;
}

.jumbotron {
  transition: height 0.6s ease-out 0;
}

.print .jumbotron.cover:before {
  transition: none;
  display: none;
}

.jumbotron.cover:before {
  opacity: 1;
}

.container {
  opacity: 0;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);

  -webkit-transition: all 0.3s ease 0;
  -moz-transition: all 0.3s ease 0;
  -ms-transition: all 0.3s ease 0;
  transition: all 0.3s ease 0;
}

.ready .container {
  opacity: 1;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
}

h1 {
  text-align: center;
  margin-bottom: 0.35em;
  font-size: 4em;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: opacity 2s ease 0.3s;
  -moz-transition: opacity 2s ease 0.3s;
  -ms-transition: opacity 2s ease 0.3s;
  transition: opacity 2s ease 0.3s;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.lead {
  margin-bottom: 40px;
  font-size: 1.75em;
  font-weight: 300;
  text-align: center;
  padding: 0 20px 40px;
  opacity: 0;
  -webkit-transition: opacity 2s ease 0.6s;
  -moz-transition: opacity 2s ease 0.6s;
  -ms-transition: opacity 2s ease 0.6s;
  transition: opacity 2s ease 0.6s;
}

.ready h1,
.ready .lead {
  opacity: 1;
}

section {
  padding: 20px;
}

@media (max-width: 640px) {
  .night .jumbotron {
    min-height: 90%;
    margin-bottom: -5%;
  }

  .day h1 {
    margin-top: -10px;
  }

  section {
    padding: 10px;
  }

  h1 {
    font-size: 3em;
  }

  .lead {
    font-size: 1.25em;
    padding: 0 10px;
  }

  h2 {
    font-size: 1.75em;
  }
}

@media (max-width: 640px) and (orientation:portrait) {
  .night .jumbotron {
    min-height: 65%;
    margin-bottom: -30%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 540px) {
  .col-xxs-12 {
    width: 100%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul, li {
  margin: 0;
  padding: 0;
}

.showcases {
  background: #333;
  color: white;
  overflow: hidden;
}

.showcases ul {
  list-style: none;
  padding: 0;
  width: 9999px;
}

.showcases li {
  padding: 30px;
  width: 200px;
  height: 200px;
  float: left;
  border: solid 1px #666;
  margin: 20px;
}

.showcases ul:after {
  content: '';
  display: block;
  clear: both;
}

.switch {
  border-radius: 30px;
  padding-left: 3px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: -1;
  font-size: 11px;
  font-weight: 800;
  margin-top: -20px;
  float: right;
}

.switch:after {
  content: '';
  display: block;
  break: both;
}

.switch .selector {
  display: block;
  position: absolute;
  z-index: -1;
  background: #000;
  border-radius: 34px;
  top: 3px;
  left: 3px;
  width: 40px;
  height: 30px;
  transition: all 0.2s ease-out 0;
}

.day .switch .selector {
  left: 46px;
}

.print .switch .selector {
  left: 89px;
}

.night .option.print,
.day .option.print,
.night .option.day,
.day .option.night {
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  color: #000;
}

.switch .option {
  display: block;
  float: left;
  width: 40px;
  margin: 3px;
  margin-left: 0;
  padding: 5px 3px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  line-height: 20px;
  -webkit-transition: all 0.2s ease-out 0.2s;
  -moz-transition: all 0.2s ease-out 0.2s;
  -ms-transition: all 0.2s ease-out 0.2s;
  transition: all 0.2s ease-out 0.2s;
}

section.skills {
  background: white;
}

.night section.skills {
  background: #222;
  color: white;
}

dl.skills {
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 40px;
}

dl.skills dt {
  display: inline-block;
  text-transform: uppercase;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 30px;
  text-align: center;
  background: #000;
  color: #fff;
  font-size: 13px;
  font-weight: 800;
}

.day .skills dt {
  background: #ddd;
  color: #000;
}
