<template name="contact">
  <div class="contact">
    <h2>I'm based in Gothenburg, Sweden &mdash; Get in touch</h2>

    <div class="text-center mail">
      <a href="mailto:tim.brandin@gmail.com"
           target="_blank">tim.brandin@gmail.com</a>
    </div>
    <div class="lead social">
      <a href="https://instagram.com/timbrandin" title="Instagram"
         target="_blank"><i class="icon-instagram-circled"></i></a>
      <a href="https://twitter.com/timbrandin" title="Twitter"
         target="_blank"><i class="icon-twitter-circled"></i></a>
      <a href="http://drupal.org/user/738462" title="Drupal"
         target="_blank"><i class="icon-drupal-1"></i></a>
      <a href="http://se.linkedin.com/in/timbrandin/" title="LinkedIn"
         target="_blank"><i class="icon-linkedin-circled"></i></a>
      <a href="https://github.com/timbrandin" title="GitHub"
         target="_blank"><i class="icon-github-circled"></i></a>
    </div>
  </div>
</template>
