<template name="contact">
  <h2>I'm based in Gothenburg, Sweden &mdash; Get in touch</h2>

  <div class="lead">
    <p>
      Twitter &mdash; <a href="https://twitter.com/timbrandin?subject=Hi Tim"
         target="_blank">@timbrandin</a><br />

      Gmail &mdash; <a href="mailto:tim.brandin@gmail.com"
         target="_blank">tim.brandin</a><br />

      Instagram &mdash; <a href="https://instagram.com/timbrandin"
         target="_blank">@timbrandin</a><br />

      Drupal &mdash;
      <a href="http://drupal.org/user/738462"
         target="_blank">TimBrandin</a><br />

      Github &mdash;
      <a href="https://github.com/timbrandin"
         target="_blank">timbrandin</a><br />

      LinkedIn &mdash;
      <a href="http://se.linkedin.com/in/timbrandin/"
         target="_blank">timbrandin</a>
    </p>
  </div>
</template>
