@charset "UTF-8";

 @font-face {
  font-family: 'headings';
  src: url('../font/headings.eot?21188036');
  src: url('../font/headings.eot?21188036#iefix') format('embedded-opentype'),
       url('../font/headings.woff?21188036') format('woff'),
       url('../font/headings.ttf?21188036') format('truetype'),
       url('../font/headings.svg?21188036#headings') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'headings';
    src: url('../font/headings.svg?21188036#headings') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "headings";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-drupal:before { content: '\e4'; } /* 'ä' */
.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-layout:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-feather:before { content: '\e800'; } /* '' */
.icon-suitcase:before { content: '\e78e'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-globe:before { content: '🌎'; } /* '\1f30e' */
.icon-trophy:before { content: '🏆'; } /* '\1f3c6' */
.icon-clipboard:before { content: '📋'; } /* '\1f4cb' */
.icon-book:before { content: '📕'; } /* '\1f4d5' */