<template name="showcases">
  <section class="showcases">
    <h2>I've created things for the web &ndash; since 2003</h2>

    <ul>
      <li>
        <img src="http://stenaweco.com/profiles/ullevi/themes/ullevi/images/logo.png" />
      </li>
      <li>
        <img src="http://findwise.com/profiles/findwise/themes/findwise/images/logo.png" />
      </li>
      <li>
        <img src="http://friidrott.savedalensaik.se/sites/default/files/SAIK_LOGO_2011_NOTEXT_150X87.png" />
      </li>
      <li>
        <img src="http://ingenjorerutangranser.se/profiles/iug/themes/ewb/logo.png" />
      </li>
    </ul>
  </section>
</template>
