<template name="skills">
  <section class="skills">
    <h2>A subset of what I've learned to master til now</h2>

    <dl class="skills">
      <dt>ActionScript</dt>
      <dt>Apache</dt>
      <dt>Apache Solr</dt>
      <dt>Automatic Control</dt>
      <dt>C/C++</dt>
      <dt>Data Structrures</dt>
      <dt>Erlang</dt>
      <dt>Scrum</dt>
      <dt>Adobe CS6</dt>
      <dt>Algorithms</dt>
      <dt>Assembler</dt>
      <dt>Drupal 6/7</dt>
      <dt>Drupal Commerce</dt>
      <dt>Elastic Search</dt>
      <dt>Facebook API</dt>
      <dt>Git</dt>
      <dt>Haskell</dt>
      <dt>HTML5/CSS3</dt>
      <dt>Illustrator</dt>
      <dt>Interaction Design</dt>
      <dt>Java</dt>
      <dt>JavaScript</dt>
      <dt>jQuery</dt>
      <dt>Meteor</dt>
      <dt>Mobile Computing</dt>
      <dt>Eclipse</dt>
      <dt>Mootools</dt>
      <dt>MySQL</dt>
      <dt>NetBeans</dt>
      <dt>Node.js</dt>
      <dt>Objective-C</dt>
      <dt>OpenGL</dt>
      <dt>Oracle SQL</dt>
      <dt>Parallel Programming</dt>
      <dt>Photoshop</dt>
      <dt>PHP</dt>
      <dt>SQL</dt>
      <dt>Subversion</dt>
      <dt>User Experience</dt>
      <dt>Win/Mac</dt>
      <dt>XML-RPC</dt>
      <dt>Drush</dt>
      <dt>Vagrant</dt>
      <dt>Jenkins</dt>
      <dt>Shell scripting</dt>
      <dt>Github</dt>
    </dl>
  </section>
</template>
