<template name="timeline">
  <section>
    <h2>How did I get here?</h2>

    <div class="container timeline-wrapper">
      <div class="start">
        <span class="head">NOW</span>
        <span class="subtitle">June 2014</span>
      </div>
      <ul class="timeline">
        <li class="one">
          <article>
            <figure>
              <img src="/findwise_small.jpg" />
              <span class="time">08/2013 - Present</span>
            </figure>
            <div class="content">
              <h3>Interaction Developer</h3>
              <p class="description">
                In an agile and lean team &mdash; I design, strategize, sell and build Drupal
                distributions, Drupal installations and web applications in javascript
                (mostly <a href="http://meteor.com">Meteor</a>). Photo credits Sture Svensson.
              </p>
              <ul class="features">
                <li>6 Projects</li>
              </ul>
              <div class="meta">
                <b>STUDIO INTERACT BY FINDWISE</b> <span class="length">10 Months</span>
              </div>
            </div>
          </article>
          <span class="entry present">
            Present
          </span>
          <span class="line"></span>
        </li>

        <li>
          <article>
            <figure>
              <img src="/gse2.jpg" />
              <span class="time">06/2006 - Present</span>
            </figure>
            <div class="content">
              <h3>Ramp Agent</h3>
              <p class="description">
                At the Airport on weekends I am responsible for directing aircrafts into the
                gate or to stand, loading, unloading and sorting all luggage and freight.
              </p>
              <div class="meta">
                <b>GOTHENBURG CITY AIRPORT</b> <span class="length">8 Years</span>
              </div>
            </div>
          </article>
          <span class="entry present">
            Present
          </span>
          <span class="line"></span>
          <span class="year">2014</span>
        </li>

        <li>
          <article>
            <figure>
              <img src="/happiness.jpg" />
              <span class="time">06/2013 - 07/2013</span>
            </figure>
            <div class="content">
              <h3>Developer</h3>
              <p class="description">
                Happiness relocated me and @mattiasjo (Mattias Johansson) to Stockholm, to work for
                a short period of time on a short deadline project with Viasat
                (a local satellite TV broadcaster), on their latest Drupal
                distribution and multi-language website. I worked mostly with
                building the TV-guide but also the live show listings.
              </p>
              <ul class="features">
                <li>1 Project</li>
              </ul>
              <div class="meta">
                <b>HAPPINESS</b> <span class="length">6 Weeks</span>
              </div>
            </div>
          </article>
          <span class="entry">
            <b>15</b><br />
            July
          </span>
          <span class="line"></span>
        </li>

        <li class="one">
          <article>
            <figure>
              <img src="/wunderkraut.jpg" />
              <span class="time">09/2012 - 05/2013</span>
            </figure>
            <div class="content">
              <h3>Developer</h3>
              <p class="description">
                In an agile team of four I worked as a Drupal developer for
                Wunderkraut in Gothenburg. We worked mainly with larger size
                projects of Drupal distributions &mdash; and in the team I
                quickly advanced to being in charge of deployment. On every second
                fridays we had innovation-friday, thats when we had time to work on
                contrubuted Drupal modules and patches.
              </p>
              <ul class="features">
                <li>4 Projects</li>
                <li>2 Testimonials</li>
              </ul>
              <div class="meta">
                <b>WUNDERKRAUT</b> <span class="length">8 Months</span>
              </div>
            </div>
          </article>
          <span class="entry">
            <b>30</b><br />
            May
          </span>
          <span class="line"></span>
          <span class="year">2013</span>
        </li>

        <li>
          <article>
            <figure>
              <img src="/kungsportsplatsen.jpg" />
              <span class="time">03/2012 - 08/2012</span>
            </figure>
            <div class="content">
              <h3>Masters Thesis</h3>
              <p class="description">
                Me and @silence150 (Josef Ottosson) worked together for inUse at
                Kungsportsplatsen in Gothenburg, with a tool for creating personas
                in the browser. In javascript we built a multi-line editor for
                SVG and a drag-n-drop tool for creating personas, that could be
                exported to AI, EPS or PDF for print &mdash; as the demand in our
                user studies was very high for printing and putting up on the wall.
              </p>
              <ul class="features">
                <li>1 Projects</li>
                <li>1 Testimonial</li>
              </ul>
              <div class="meta">
                <b>INUSE, <br />CHALMERS UNIVERSITY OF TECHNOLOGY</b> <span class="length">6 Months</span>
              </div>
            </div>
          </article>
          <span class="entry">
            <b>15</b><br />
            Aug
          </span>
          <span class="line"></span>
        </li>

        <li>
          <article>
            <figure>
              <img src="/kuggen.jpg" />
              <span class="time">09/2010 - 08/2012</span>
            </figure>
            <div class="content">
              <h3>Masters Student</h3>
              <p class="description">
                At the masters program of Interaction Design I learned about everything
                from managing creative ideas, methodologies, best practise real world
                experiences to soldering, small electronics, arduino and iOS programming.
              </p>
              <ul class="features">
                <li>1 Projects</li>
                <li>2 Testimonials</li>
                <li>16 Courses</li>
              </ul>
              <div class="meta">
                <b>INTERACTION DESIGN PROGRAMME, <br />CHALMERS UNIVERSITY OF TECHNOLOGY</b> <span class="length">2 Years</span>
              </div>
            </div>
          </article>
          <span class="entry">
            <b>15</b><br />
            Aug
          </span>
          <span class="line"></span>
          <span class="year">2012</span>
        </li>

        <li>
          <article>
            <figure>
              <img src="/freelance2.jpg" />
              <span class="time">01/2010 - 08/2010</span>
            </figure>
            <div class="content">
              <h3>Freelance Developer</h3>
              <p class="description">
                Creating everything from Drupal websites to flash games at first
                with multiple contracts and later through my own sole propriatorship
                namned Sypreme &mdash; hey it still exists but I don't do much more
                than pass along requests through to Studio Interact nowadays at Findwise.
              </p>
              <ul class="features">
                <li>2 Projects</li>
                <li>1 Testimonial</li>
              </ul>
              <div class="meta">
                <b>SYPREME, DISTILL DESIGN, BERTNE &amp; CO.</b> <span class="length">6 Months</span>
              </div>
            </div>
          </article>
          <span class="entry">
            <b>3</b><br />
            Jun
          </span>
          <span class="line"></span>
        </li>

        <li>
          <article>
            <figure>
              <img src="/ixd.jpg" />
              <span class="time">08/2009 - 01/2010</span>
            </figure>
            <div class="content">
              <h3>Verification Engineer</h3>
              <p class="description">
                For a couple of months I worked as a consultant for Accademic
                Work &mdash; running functionality tests on CoordCom a Windows softare and
                service built by Ericsson for the Swedish emergency call service SOS Alarm.
              </p>
              <ul class="features">
                <li>1 Reference</li>
              </ul>
              <div class="meta">
                <b>ERICSSON</b> <span class="length">6 Months</span>
              </div>
            </div>
          </article>
          <span class="entry">
            <b>15</b><br />
            Jan
          </span>
          <span class="line"></span>
          <span class="year">2010</span>
        </li>

        <li>
          <article>
            <figure>
              <a href="https://www.youtube.com/watch?v=9zXChwf3KW0">
                <img src="/agv.png" />
              </a>
              <span class="time">01/2009 - 06/2009</span>
            </figure>
            <div class="content">
              <h3>Bachelor Thesis</h3>
              <p class="description">
                At Chalmers for my Bachelor Thesis we built an Automatic Guided
                Vehicle using Java, C++, Arduino and a production quality laser.
                Everything from tracks, housing, navigation and planning-software
                we built from scratch using the tools avaliable to us.
              </p>
              <ul class="features">
                <li>1 Project</li>
              </ul>
              <div class="meta">
                <b>AUTOMATION &amp; MECHATRONICS, <br />CHALMERS UNIVERSITY OF TECHNOLOGY</b> <span class="length">6 Months</span>
              </div>
            </div>
          </article>
          <span class="entry">
            <b>3</b><br />
            Jun
          </span>
          <span class="line"></span>
        </li>

        <li>
          <article>
            <figure>
              <img src="chalmers.jpg" />
              <span class="time">08/2006 - 06/2009</span>
            </figure>
            <div class="content">
              <h3>Bachelor Student</h3>
              <p class="description">
                Studying Computer Science at Chalmers was a great experience as the courses
                spanned so many different areas, which steered my in the path that I am
                right now. To mention a few courses, I learned about control theory, data structures,
                databases, collage grade mathematics, algorithms and managing effiency as well as parallelism in code.
                I would highly recommend the masters program at Chalmers, in beautiful Gothenburg, Sweden.
              </p>
              <ul class="features">
                <li>1 Project</li>
                <li>24 Courses</li>
              </ul>
              <div class="meta">
                <b>COMPUTER SCIENCE &amp; ENGINEERING, <br />CHALMERS UNIVERSITY OF TECHNOLOGY</b> <span class="length">3 Years</span>
              </div>
            </div>
          </article>
          <span class="entry">
            <b>15</b><br />
            Aug
          </span>
          <span class="line"></span>
          <span class="year">2009</span>
        </li>
      </ul>
    </div>
  </section>
</template>
