
.icon-twitter-circled:before { content: '\61'; } /* 'a' */
.icon-facebook-circled-1:before { content: '\62'; } /* 'b' */
.icon-drupal-1:before { content: '\63'; } /* 'c' */
.icon-linkedin-circled:before { content: '\64'; } /* 'd' */
.icon-gplus-circled:before { content: '\65'; } /* 'e' */
.icon-github-circled:before { content: '\66'; } /* 'f' */
.icon-dribbble-circled:before { content: '\67'; } /* 'g' */
.icon-skype-circled:before { content: '\68'; } /* 'h' */
.icon-instagram-circled:before { content: '\69'; } /* 'i' */